.notification{
    box-sizing: border-box;
    display: flex;
    column-gap: 26px;
    padding: 20px 0;
    color: var(--white);
    width: 100%;
    border-top: 1px solid var(--dark);
}

.notification:hover .noti-icon path{
    fill: var(--white);
}

.noti-icon-ctn {
    margin: 0 10px;
}

.noti-content p{
    margin: 10px 0 0 0;
}