.notification{
    box-sizing: border-box;
    width: 550px;
    display: flex;
    column-gap: 40px;
    padding: 20px 10px;
    color: var(--white);
    max-width: 100%;
    border-bottom: 1px solid var(--white-01);
}

.notification:hover .noti-icon path{
    fill: var(--white);
}

.noti-content p{
    margin: 10px 0 0 0;
    font-size: 14px;
}


.noti-content p span{
    font-weight: 500;
}
