.order-top span.title{
    color : var(--white);
    max-width: 100%;
    text-overflow: initial;
    white-space:initial;
}

.order-top{
    width: 100%;
    display: block;
}

.order-info{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 3% 40px;
    color : var(--white)
}

.order-info-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}


.order-info .link{
    text-decoration: underline;
    appearance: none;
    border: 0;
    background-color: transparent;
    color: var(--grey);
    margin-top: 40px;
}

.order-dialogue{
    margin: auto;
    width: 500px;
    max-width: calc(100% - 20px);
    padding: 20px;
    border: 1px solid var(--dark);
    border-bottom: 0;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.order-dashboard{
    display: flex;
}

.management{
    margin: 0 100px;
    width: 100%;
    color: var(--white);
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: scroll;
    padding-bottom: 40px;
}

.order-recap{
    width: 100%;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 100px);
    max-width: 400px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid var(--dark);
    border-left: 0;
    border-radius: 0 20px 20px 0;
    transition: ease 0.2s;
}

.order-title{
    padding-bottom: 14px;
    color: var(--white);
    border-bottom: 1px solid var(--dark);
    font-weight: 600;
}

.order-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    height: 100%;
    max-height: calc(100vh - 215.8px);
    overflow: scroll;
}

.order-recap .order-content{
    padding: 20px 0 40px;
}

.order-recap .order-content{
    max-height: 100vh;
}

.order-content section a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px 10px;
    background-color: var(--dark);
    border-radius: 3px;
    width: fit-content;
    color: var(--grey);
    margin-top: 6px;
    transition: ease 0.1s;
}

.order-content section a:hover {
    color: var(--white);

}

.order-content section a svg{
    width: 12px;
}

.order-content section a svg path{
    fill: var(--grey);
}

.order-content .desc{
    color: var(--grey);
    text-overflow:inherit;
    display: initial;
}

.order-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--black);
    border-top: 1px solid var(--dark);
}

.order-bottom button:first-child{
    width: 100%;
}

.deliveries{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.deliveries .big-title{
    margin-bottom: 0px;
}

.delivery-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

.delivery{
    width: 100%;
    padding: 20px;
    background-color: var(--dark);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.delivery a{
    background-color: var(--white-005);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    color: var(--grey);
    text-transform: uppercase;
    font-size: 15px;
}

.delivery a:hover{
    background-color: var(--white-01);
    color: var(--white);
}

.delivery-item span{
    color: var(--grey);
    margin-right: 20px;
}

.wait-delivery{
    padding: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark);
    color: var(--grey);
}

.feedback{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--dark);
    margin-top: 10px;
}

.feedback .name{
    display: flex;
    gap: 5px;
}

.feedback .name .info{
    font-weight: 400;
}

.feedback .desc {
    color: var(--grey);
}

.is-finished{
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    background-color: #0C70E7;
    margin-bottom: 40px;
    border-radius: 5px;
}

.like-popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-popup .close-popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-filter);
    z-index: -1;
}

.like-popup .popup{
    border-radius: 10px;
    width: 550px;
    max-width: 90%;
    background-color: #0C70E7;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.like-popup.is-liked .popup{
    background-color: var(--dark);
}

.like-popup .big-title{
    font-size: 32px;
}

.like-btn{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    transition: ease 0.2s;
    padding: 20px;
    margin-top: 20px;
}

.like-popup.is-liked .like-btn path{
    fill: var(--red);
}

.like-popup.is-liked .desc{
    visibility: hidden;
}

.like-btn:hover{
    animation : bloop ease 0.6s;
    scale: 1.1;
}

.like-popup.is-liked .like-btn:hover{
    animation: none;
}

@keyframes bloop{
    0%{
        scale: 1;
    }
    10%{
        scale:0.99;
    }
    50%{
        scale: 1.12;
    }70%{
        scale: 1.08;
    }
    100%{
        scale: 1.1;
    }
}


.like-popup .popup .close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.like-popup .popup .close:hover{
    background-color: var(--white-01);
}

@media screen and (max-width : 1000px) {
    .order-recap{
        max-width: 240px ;
    }

    .management{
        margin: 0 40px;
    }
}

@media screen and (max-width : 600px) {
    .order-dashboard{
        flex-direction: column-reverse;
    }

    .management{
        width: 100%;
        padding: 0 20px 40px;
        margin: 0;
        height: fit-content;
    }

    .order-recap{
        max-width: calc(100% - 40px);
        margin: 0 20px;
        border-radius: 20px 20px 0 0;
        border-left: 1px solid var(--dark);
        border-bottom: 0;
    }
}