.order-top span.title{
    color : var(--white);
    max-width: 100%;
    text-overflow: initial;
    white-space:initial;
}

.order-top{
    width: 100%;
    display: block;
}

.order-info{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 3% 40px;
    color : var(--white)
}

.order-info-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}


.order-info .link{
    text-decoration: underline;
    appearance: none;
    border: 0;
    background-color: transparent;
    color: var(--grey);
    margin-top: 40px;
}

.order-dialogue{
    margin: auto;
    width: 500px;
    max-width: calc(100% - 20px);
    padding: 20px;
    border: 1px solid var(--dark);
    border-bottom: 0;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.order-dashboard{
    display: flex;
}

.management{
    margin: 0 100px;
    width: 100%;
    color: var(--white);
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: scroll;
    padding-bottom: 40px;
}

.order-recap{
    width: 100%;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 100px);
    max-width: 400px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid var(--dark);
    border-left: 0;
    border-radius: 0 20px 20px 0;
}

.order-title{
    padding-bottom: 14px;
    color: var(--white);
    border-bottom: 1px solid var(--dark);
    font-weight: 600;
}

.order-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    height: 100%;
    max-height: calc(100vh - 215.8px);
    overflow: scroll;
}

.order-recap .order-content{
    padding: 20px 0 40px;
}

.order-recap .order-content{
    max-height: 100vh;
}

.order-content section a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px 10px;
    background-color: var(--dark);
    border-radius: 3px;
    width: fit-content;
    color: var(--grey);
    margin-top: 6px;
    transition: ease 0.1s;
}

.order-content section a:hover {
    color: var(--white);

}

.order-content section a svg{
    width: 12px;
}

.order-content section a svg path{
    fill: var(--grey);
}

.order-content .desc{
    color: var(--grey);
    text-overflow:inherit;
    display: initial;
}

.order-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--black);
    border-top: 1px solid var(--dark);
}

.order-bottom button:first-child{
    width: 100%;
}

.deliveries{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.deliveries .big-title{
    margin-bottom: 10px;
}

.delivery-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

.delivery{
    width: 100%;
    padding: 20px;
    background-color: var(--dark);
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

.delivery a{
    background-color: var(--white-005);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    color: var(--grey);
    text-transform: uppercase;
    font-size: 15px;
}

.delivery a:hover{
    background-color: var(--white-01);
    color: var(--white);
}

.delivery-item span{
    color: var(--grey);
    margin-right: 20px;
}