.filters{
    display: flex;
    align-items: center;
    padding: 0 0 10px 20px;
    position: fixed;
    top: 80px;
    max-width: 100%;
    overflow-x: initial;
    overflow-y: visible;
    z-index: 10;
}

.filters button:hover{
    opacity: 0.9;
}

.filters-list{
    padding: 0 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    overflow-x: scroll;
    column-gap: 8px;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 8px);
    mask-image: linear-gradient(to right, transparent 0, black 8px);
}

.filter{
    white-space: nowrap;
    padding: 0 10px 1px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.20));
}

.filter.active{
    background-color: var(--red);
    border-color: var(--red);
}

.border-icon-btn{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.20));
}