.filters{
    display: flex;
    align-items: center;
    padding: 0px 20px 10px;
    position: fixed;
    top: 80px;
    width: 100%;
    overflow-x: initial;
    overflow-y: visible;
    z-index: 10;
}

.filters-list{
    padding: 0 20px 0 0;
    margin-left: 8px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: 100%;
    overflow-x: scroll;
    border-radius: 3px;
}

.filter{
    white-space: nowrap;
    padding: 3px 10px;
    border-radius: 3px;
    border: 0;
    background-color: var(--black-filter);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter.active{
    background-color: var(--white);
    color: var(--black);
}

.border-icon-btn{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.20));
}

@media screen and (min-width : 600px) {
    .filters{
        background-color: var(--black);
    }
    .filter{
        background-color: var(--dark);
    }
}