.profile-menu-list{
    position: absolute;
    top: 70px;
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: var(--black);
    border-radius: 5px;
    min-width: fit-content;
    z-index: 10;
    border: 1px solid var(--dark);
}

.profile-menu-list#open{
    display: flex;
}


.profile-menu-list .menu-item:hover{
    background-color: var(--dark);
}

.profile-menu-list .menu-item{
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--white);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.profile-menu-list .menu-item.negative{
    color: var(--red);
}

.pp-btn{
    border : 0;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 4px;
}
