.profile-menu-list{
    position: absolute;
    top: 60px;
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: var(--black);
    border-radius: 5px;
    min-width: fit-content;
    z-index: 10;
}

.profile-menu-list#open{
    display: flex;
}

.profile-menu-list a{
    padding: 5px 10px;
    border-radius: 3px;
}


.pp-btn{
    border : 0;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 4px;
}
