.profile-ctn{
    padding: 20px;
    color: var(--white);
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top .pp{
    width: 50px;
    height: 50px;
}

.top .pp .badge{
    width: 18px;
    height: 18px;
}

.top .name{
    margin: 10px 0 26px;
}

.top .desc{
    color: var(--grey);
    margin: 20px 0;
    max-width: 450px;
}

.info .like{
    width: 14px;
    height: 14px;
}

.profile-ctn .gig-result{
    border: 0;
    padding: 0;
}

.profile-ctn .gig{
    display: block;
    padding: 20px 0;
}

.profile-ctn .media {
    border-radius: 10px;
    min-width: calc(180px + 4.5vw);
    width: calc(180px + 4.5vw);
    height: calc(320px + 8vw);

}

@media screen and (min-width : 600px) {
    .profile-ctn .gallery{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .profile-ctn .gig-result{
        display: flex;
        align-items: flex-end;
        gap: 26px;
    }

    .profile-ctn .gig{
        padding: 0;
    }
}

@media screen and (min-width : 1240px){
    .profile-ctn .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (min-width : 1880px){
    .profile-ctn .gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }