.success-ctn{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #0C70E7;
    padding-top: calc(50vh - 100px);
}

.success{
    margin: auto;
    width: 600px;
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-align: center;
}

.success h1{
    font-size: 22px;
    margin: 20px 0;
    font-weight: 700;
}

.success p {
    font-size: 15px;
    font-weight: 500;
}

.success span{
    margin-top: 10px;
    color: var(--black);
}