.chats-ctn{
    padding: 80px 20px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chats-ctn .navwork{
    margin-bottom: 20px;
}

.chat-item {
    width: 100%;
    display: flex;
    column-gap: 26px;
    padding: 20px 0;
    border-top: 1px solid var(--dark);
}

.last-message{
    margin-top: 5px;
    color : var(--grey);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Nombre maximum de lignes */
    -webkit-box-orient: vertical;
}