.searchbar-ctn{
    width: 100%;
    position: relative;
}

.searchbar{
    width: 100%;
    padding: 10px 40px 10px 10px;
    display: flex;
    align-items: center;
    background-color: var(--dark);
    border: 0;
    border-radius: 3px;
    outline: 0;
    color: white;
}

.searchbar::placeholder{
    color: var(--grey);
}

.searchbar-ctn .delete{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
}

.searchbar-ctn .delete.active{
    display: flex;
}

.gigs{
    padding: 20px;
}

.users{
    padding: 20px;
}

.gig-result{
    width: 100%;
    padding: 0;
    position: relative;
    border-top: 1px solid var(--dark);
}

.user-result{
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--dark);
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name{
    color: var(--white);
    font-weight: 600;
}

.no-result{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--grey);
}