.navsearch{
    width: 100%;
    display: flex;
    padding: 0 20px;
    gap: 5px;
}

.navsearch button{
    padding: 5px 10px;
    background: var(--dark);
    border: 0;
    color: var(--white);
    border-radius: 3px;

}

.navsearch button.active{
    background-color: var(--white);
    color: var(--black);
}