.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}

.border-icon-btn{
  min-width: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.btn{
  padding: 0 15px;
  min-height: 36px;
  line-height: 1em;
  font-weight: 600;
  color: var(--black);
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.absolute{
  z-index: 1000;
  position: absolute;
  bottom: 15px;
  right: calc(2% + 10px);
}

.btn.fixed{
  z-index: 1000;
  position: fixed;
  bottom: 15px;
  right: calc(2% + 10px);
}

.top-bar{
  max-width: 100%;
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  column-gap: 15px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.infos{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.info{
  padding: 3px 10px;
  border-radius: 3px;
  background-color: var(--dark);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .filters:hover {
    scrollbar-width: auto;
    scrollbar-color: var(--white-01) transparent;
  }

  /* Chrome, Edge, and Safari */
  .filters::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .filters::-webkit-scrollbar-track {
    background: transparent;
  }

  .filters:hover::-webkit-scrollbar-thumb {
    background-color: var(--white-01);
    border-radius: 10px;
    border: 3px solid transparent;
  }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  *:hover {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
  }

  *:hover {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
  }

  *:hover::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid transparent;
  }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .filters:hover {
    scrollbar-width: auto;
    scrollbar-color: var(--white-01) transparent;
  }

  /* Chrome, Edge, and Safari */
  .filters::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .filters::-webkit-scrollbar-track {
    background: transparent;
  }

  .filters:hover::-webkit-scrollbar-thumb {
    background-color: var(--white-01);
    border-radius: 10px;
    border: 3px solid transparent;
  }
