.navwork{
    width: 100%;
    display: flex;
    gap: 5px;
    overflow-y: scroll;
    border-radius: 3px ;
}

.navwork a{
    padding: 5px 10px;
    background: var(--dark);
    border: 0;
    color: var(--white);
    border-radius: 3px;
    white-space: nowrap;
}

.navwork a.active{
    background-color: var(--white);
    color: var(--black);
}