.message{
    width: 550px;
    max-width: 80%;
    margin : 20px 0 0 0;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--dark);
    margin-left: auto;
}

.message.received{
    margin-left: 0;
    background-color: transparent;
    border: 1px solid var(--dark);
}

.message p{
    color: var(--white);
}