.message{
    width: 100%;
    margin : 20px 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 10px;
}

.message.received{
    justify-content: flex-start;
}

.message p{
    max-width: 90%;
    padding: 20px;
    color: var(--white);
    border-radius: 10px;
    background-color: var(--dark);
}

.message.received p{
    max-width: calc(90% - 42px);
    background: transparent;
    border: 1px solid var(--dark);
}